.container {
  min-height: 100vh;
  background-color: var(--black);
  color: white;
  padding-top: 5rem;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.initialSection {
  text-align: center;
  padding: 5rem 0;
}

.title {
  font-size: 3.75rem;
  font-family: monospace;
  margin-bottom: 2rem;
}

.intro {
  font-size: 1.25rem;
  color: var(--tan);
  margin-bottom: 3rem;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
}

.revealButton {
  padding: 0.75rem 2rem;
    background-color: var(--tan);
    color: var(--black);
    font-family: monospace;
    text-transform: uppercase;
    font-size: 1.125rem;
    transition: background-color 0.3sease;
}

.revealButton:hover {
  background-color: #e5e7eb;
}

.artworkSection {
  padding: 5rem 0;
}

.artworkFrame {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.lighting {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, #1f2937 0%, #000000 100%);
  z-index: -1;
}

.artwork {
  position: relative;
  /* aspect-ratio: 4/5; */
  width: 345px;
  height: 447px;
  margin: auto;
  background-color: var(--black);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.artworkInner {
  position: absolute;
  inset: 0;
  background-color: #1a1a1a;
  padding: 2rem;
}

.artworkDetails {
  max-width: 32rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
}

.artworkTitle {
  font-family: monospace;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.artworkCreator {
  color: #9ca3af;
  margin-bottom: 2rem;
}

.description {
  margin-top: 2rem;
  text-align: left;
  font-family: monospace;
}

.descriptionText {
  font-size: 1.125rem;
  line-height: 1.75;
}

.descriptionText + .descriptionText {
  margin-top: 1rem;
}

.attribution {
  margin-top: 1rem;
  color: white;
  font-style: italic;
}